<div id="footer-container">
    <div id="footer-column-container" class="container d-flex justify-content-around">
        <div class="footer-column d-flex flex-column">
            <span class="footer-column-title">Join us</span>
            <a href="/register">Registration</a>
            <a href="/volunteer">Volunteering</a>
            <a href="/resources">Learning resources</a>
            <a href="/sponsor">Sponsoring</a>
        </div>
        <div class="footer-column d-flex flex-column">
            <span class="footer-column-title">About us</span>
            <a href="/what-we-do">What we do</a>
            <a href="/contact-us">Contact us</a>
            <a href="/posts">Blog</a>
            <a href="/press-and-research">Press and Research</a>
        </div>
        <div class="footer-column d-flex flex-column">
            <span class="footer-column-title">Our policies</span>
            <a href="/policy/privacy">Privacy</a>
            <a href="/policy/child-protection">Child protection</a>
            <a href="/policy/duty-mentor">Duty mentor</a>
        </div>
        <div class="footer-column d-flex flex-column">
            <img src="/assets/images/logos/oscr-small-blue.jpg" alt="OSCR Registration Logo">
            <img src="/assets/images/logos/coderdojo-horiz-logo.png" alt="CoderDojo Logo">
        </div>
    </div>
    <div class="container footer-social text-center pb-3">
        <!-- LI-In-Bug.png -->
        <a href="https://uk.linkedin.com/company/prewired">
            <img src="/assets/images/logos/LI-In-Bug.png" alt="LinkedIn logo"/>
        </a>
        <a href="https://twitter.com/prewired">
            <img src="/assets/images/logos/twitter-logo-white.svg" alt="Twitter logo"/>
        </a>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>kofiwidget2.init('Support Prewired on Ko-fi', '#29abe0', 'S6S35YATV');kofiwidget2.draw();</script> 
    </div>
    <div class="footer-copyright text-center w-100 p-3">Prewired is a Scottish Charity, SC047780 | © {{ now.Format "2006"}} Prewired</div>
</div>

