<div id="nav-border" class="w-100">
    <div id="nav-container" class="d-flex justify-content-between container">
        <a href="/" id="nav-logo-container">
            <!-- <span id="nav-logo-text" class="d-flex justify-content-center align-items-center">Prewired</span> -->
            <img id="nav-logo" src="/assets/images/logos/prewired-open-sans-logo.svg" alt="Prewired logo without text"/>
        </a>
        <a  href="javascript:void(0);" 
            onclick="toggleNav()"
            onfocus="showNav()"
            class="nav-btn btn btn-primary">
            Navigation
        </a>
        <nav id="nav" class="nav justify-content-end" style="display: none;">
            {{ range .Site.Menus.main }}
            <a class="nav-link d-flex" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
            {{ end }}
        </nav>
    </div>
</div>