<div id="nav-border" class="w-100">
    <div id="nav-container" class="d-flex justify-content-between container">
        <a href="/" id="nav-logo-container">
            <!-- <span id="nav-logo-text" class="d-flex justify-content-center align-items-center">Prewired</span> -->
            <img id="nav-logo" src="/assets/images/logos/prewired-open-sans-logo.svg" alt="Prewired logo without text"/>
        </a>
        <nav id="nav" class="nav justify-content-end" style="display: flex;">
            {{ range .Site.Menus.main }}
            <a class="nav-link d-flex" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
            {{ end }}
        </nav>
    </div>

    <div class="container mb-0 mt-4">
        <div class="message-banner message-alert">
            <h4>notice: Beta website</h4>
            <hr>
            <p>
                Please be aware that this website is not live. Prewired cannot guarantee the accuracy of any information.
            </p>
        </div>
    </div>
</div>