@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&display=swap');

* {
    --prewired-purple: #9437ff;
    --prewired-purple-light: white;
    --prewired-purple-dark: #7d2dda;
    --prewired-blue: #0096ff;
    --prewired-blue-light: #c8e8ff;
    --prewired-blue-dark: #0074c6;
    --prewired-pink: #ff236d;
    --prewired-pink-light: #ffc2d6;
    --prewired-pink-dark: #ce1d58;

    --nav-height: 4em;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.975em;

    box-sizing: border-box;
}

body {
    background-color: var(--prewired-purple-light);
}

table {
    width: 100%;
    font-size: 0.9em;
}

table thead {
    border-bottom: 1px solid black;
}

table thead th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

table tbody tr {
    border-top: 1px solid black;
}

table tbody td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.container {
    margin-bottom: 3em;
}

a:focus {
    outline: 4px solid blue;
}

#nav-border {
    min-height: var(--nav-height);
    background-color: var(--prewired-purple-light);
}

#nav-container {
    /* min-height: var(--nav-height); */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 1em; */
    margin-bottom: 2em;
    padding-bottom: 1em;
}

#nav-logo-container {
    background-color: var(--prewired-purple-light);
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: start;
}

#nav-logo-container > img {
    max-height: 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    letter-spacing: 0.05ch;
    text-transform: Uppercase;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: initial;
}

h3 {
    margin-bottom: 0;
}

h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

#nav-logo-text {
    font-weight: 800;
    padding-right: 0.5em;
    color: var(--prewired-purple);
    text-transform: Uppercase;
    font-size: 2rem;
}

#nav-logo {
    height: 100%;
}

nav {
    width: 100%;
    display: none;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--prewired-purple);
}

nav a {
    color: var(--prewired-purple) !important;
    text-transform: Uppercase;
    font-weight: 800 !important;
    letter-spacing: 0.1ch;
    /* margin-left: 2em; */
}

nav a:hover, nav a:focus {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.nav-btn {
    position: absolute;
    top: 1em;
    right: 1em;
}

.btn {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    /* font-size: normal; */
    /* background-color: var(--prewired-blue-dark); */
    border: none;
}

.split {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.split-piece {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.split-center {
    justify-content: center !important;
    align-items: center !important;
}

.split-start {
    justify-content: start !important;
    align-items: start !important;
}

.split-end {
    justify-content: end !important;
    align-items: end !important;
} 

.split-piece p,
.split-piece > h1,
.split-piece > h2,
.split-piece > h3,
.split-piece > h4,
.split-piece > h5,
.split-piece > h6 {
    padding-left: 10px; 
    padding-right: 10px;
    text-align: left;
}

.split-piece img {
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.split-piece > .img-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
}

.banner-container {
    width: 100%;
}

.banner-container > img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.sponsor-logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsor-logo-container > a {
    display: block;
    width: auto;
    height: auto;
    max-height: 100px;
    margin: 0.5em;
}

.sponsor-logo-container > a > img {
    display: block;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100%;
}

.center-mobile {
    text-align: center !important;
    justify-content: center;
    align-items: center;
}

#footer-column-container {
    flex-direction: column;
    margin-bottom: 0;
}

.footer-column a {
    color: white !important;
    text-decoration: none;
    /* text-transform: Uppercase; */
    font-weight: 500 !important;
    font-size: 1em;
    letter-spacing: 0.1ch;
    padding-bottom: 0.4em;
}

.footer-column-title {
    margin-top: 2em;
    color: white !important;
    text-decoration: none;
    text-transform: Uppercase;
    font-weight: 800 !important;
    padding-bottom: 0.8em;
    letter-spacing: 0.1ch;
}

.footer-column > img {
    margin-top: 2em;
    max-width: 200px;
}

.footer-column > img:last-child {
    margin-bottom: 2em;
}

.footer-column a:hover, .footer-column a:focus {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

#footer-container {
    width: 100%;
    background-color: var(--prewired-purple-dark);
}

.footer-social {
    width: 90%;
    background-color: var(--prewired-purple-dark) !important;
    color: white;
    text-transform: Uppercase;
    font-weight: 800 !important;
    letter-spacing: 0.1ch;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
    margin-bottom: 1em;
    margin-top: 2em;
}

.footer-social > a {
    display: flex;
    height: 30px;
    width: 30px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.footer-social a > img {
    height: 100%;
    filter: brightness(0) invert(1);
}

.footer-copyright {
    color: var(--prewired-purple-dark) !important;
    background-color: white;
    text-transform: Uppercase;
    font-weight: 800 !important;
    letter-spacing: 0.1ch;
    font-size: 0.9em;
}

.message-banner {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    text-align: center;
}

.message-banner h4 {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    font-weight: 600 !important;
}

.message-alert {
    /* border: 2px solid rgb(255, 142, 142); */
    background-color: rgb(255, 214, 214);
}

.message-warning {
    /* border: 2px solid rgb(255, 206, 142); */
    background-color: rgb(255, 244, 214);
}

.message-info {
    /* border: 2px solid rgb(142, 195, 255); */
    background-color: rgb(214, 224, 255);
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

@media screen and (min-width: 600px) {
    .split-piece > .img-container {
        max-height: 400px;
    }
}

@media screen and (min-width: 940px) {
    * {
        font-size: 1.01em;
    }

    .center-mobile {
        text-align: initial;
        justify-content: initial;
        align-items: initial;
    }

    .nav-btn {
        display: none;
    }

    #nav-container {
        min-height: var(--nav-height);
        height: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .message-banner {
        margin-bottom: initial;
    }

    #nav-logo-container {
        height: var(--nav-height);
    }

    #nav-logo-container > img {
        /* height: var(--nav-height); */
        max-height: initial;
    }

    .split-piece > .img-container {
        margin-top: initial;
        border-radius: 10px;
    } 

    #nav-container {
        margin-bottom: 3em;
    }

    nav {
        display: flex !important;
        justify-content: start;
        flex-direction: row;
    }

    nav a {
        justify-content: center;
        align-items: center;
    }

    .banner-container > img {
        border-radius: 10px;
    }

    .split-piece {
        width: 100%;
        margin-bottom: 0;
    }

    .split-piece p,
    .split-piece > h1,
    .split-piece > h2,
    .split-piece > h3,
    .split-piece > h4,
    .split-piece > h5,
    .split-piece > h6 {
        max-height: initial;
        padding-left: 50px; 
        padding-right: 50px;
    }

    .split-nopad p,
    .split-nopad > h1,
    .split-nopad > h2,
    .split-nopad > h3,
    .split-nopad > h4,
    .split-nopad > h5,
    .split-nopad > h6 {
        max-height: initial;
        padding-left: 10px; 
        padding-right: 10px;
    }

    .split-10 {
        width: 10%;
        height: 100%;
    }
    
    .split-20 {
        width: 20%;
        height: 100%;
    }
    
    .split-30 {
        width: 30%;
        height: 100%;
    }

    .split-40 {
        width: 40%;
        height: 100%;
    }
    
    .split-50 {
        width: 60%;
        height: 100%;
    }
    
    .split-60 {
        width: 70%;
        height: 100%;
    }
    
    .split-70 {
        width: 70%;
        height: 100%;
    }
    
    .split-80 {
        width: 80%;
        height: 100%;
    }
    
    .split-90 {
        width: 90%;
        height: 100%;
    }

    .min-split-10 {
        min-width: 10%;
        height: 100%;
    }
    
    .min-split-20 {
        min-width: 20%;
        height: 100%;
    }
    
    .min-split-30 {
        min-width: 30%;
        height: 100%;
    }

    .min-split-40 {
        min-width: 40%;
        height: 100%;
    }
    
    .min-split-50 {
        min-width: 60%;
        height: 100%;
    }
    
    .min-split-60 {
        min-width: 70%;
        height: 100%;
    }
    
    .min-split-70 {
        min-width: 70%;
        height: 100%;
    }
    
    .min-split-80 {
        min-width: 80%;
        height: 100%;
    }
    
    .min-split-90 {
        min-width: 90%;
        height: 100%;
    }

    .split {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* padding: 1em; */
        margin-top: 2em;
        margin-bottom: initial;
    }

    #footer-column-container {
        flex-direction: row !important;
    }

    .footer-social {
        width: 90%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer-social > a {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        width: 100%;
        max-width: initial;

        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1100px) {
    #content > .container {
        padding-left: 4em;
        padding-right: 4em;
    }
}
