{{ define "main" }}
<main class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages.GroupByPublishDate "2006" }}
    <h4>{{ .Key }}</h4>

        {{ range .Pages.ByPublishDate.Reverse }}
        <p>
            <h5><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
            {{ partial "metadata.html" . }}
            <div class="summary" href="{{ .RelPermalink }}">
                <p>{{ .Summary }}</p>
            </div>
        </p>
        {{ end }}
    {{ end }}
</main>
{{ end }}